.keypad {
    display: none;
    z-index: 9999;
    border-top:solid 2px #f0f0f0;
}
.keypad td{
    color:#3B3B3B;
    text-align: center;
    line-height: 38px;
}
.key{
    text-align: right;
    padding-right: 4px;
}
.stone-form{
    display: none;
}
.stone-form.on{
    display: flex;
}
.keypad tbody, .keypad td, .keypad tfoot, .keypad th, .keypad thead, .keypad tr {
    border-width: 0;
}
.form-control small {
    line-height: 24px;
}
.table thead{
    border-top:1px solid #333
}
.table>:not(:last-child)>:last-child>*{
    border-bottom-color:#f5f5f5;
}
.table>:not(caption)>*>*{
    border-bottom-color:#f5f5f5;
    padding: 11px 0px
}
.form-control, .form-select{
    padding:12px;
    margin-top: 4px;
}