<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/price/gold.css}" />

        <span class="top-bar-title title">시세</span>

        <div class="d-flex tab mb-3">
            <div class="w-50 text-center p-3 on"><a th:href="@{/price/gold}">금/은</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/price/dia}">다이아</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/price/subu}">쓰브</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/price/pearl}">진주</a></div>
        </div>
        <div class="container-fluid ps-0">
            <div class="bg-gold pt-2 ps-3 pe-3 pb-2 text-white d-inline-block" style="border-bottom-right-radius: 12px">
                종로투데이 금/은 중계 서비스<br />
                <small class="text-dark">종로투데이에서 대행 구매해드립니다.</small>
            </div>
        </div>
        <div class="container-fluid mt-2 p-2">
            <div class="d-flex justify-content-between">
                <b>오늘의 <span class="text-warning">금 시세</span></b>
                <div><span id="dt-gold" class="text-secondary"></span></div>
            </div>
            <div id="price-gold" class="mb-5"></div>
            <div class="d-flex justify-content-between">
                <b>오늘의 <span class="text-secondary">은 시세</span></b>
                <div><span id="dt-silver" class="text-secondary"></span></div>
            </div>
            <div id="price-silver"></div>
        </div>

        <script type="template/text" id="tmpl-price">
            <div class="price-area">
                <div class="d-flex justify-content-between">
                    <h5>
                        부가세 별도 판매<br />
                        <small class="text-secondary">(<%- comma((Math.round(data.vat/3.75))+'') %> 원/g)</small>
                    </h5>
                    <p class="price text-end <%- typ=='G'? 'text-warning': 'text-secondary' %>">
                        <span><%- comma(data.vat+'') %> <small>원/돈</small></span><br />
                        <small>(VAT포함 <b><%- comma((Math.round(data.vat*1.1))+'') %></b> <small>원/돈</small>)</small>
                    </p>
                </div>
                <div>
                    <small>예상 가격 계산</small>
                    <div class="d-flex cal-price vat">
                        <div style="width:40%; padding-right: 4px">
                            <div class="input-group">
                                <input type="text" class="inp-amt form-control text-end" value="1" />
                                <span class="input-group-text btn-unit border-0">돈</span>
                            </div>
                        </div>
                        <div style="width:60%">
                            <div class="input-group">
                                <input type="text" class="inp-price form-control text-end" value="<%- comma((data.vat)+'') %>" />
                                <span class="input-group-text border-0 bg-white">원</span>
                            </div>
                            <small class="d-block text-end w-100">(부가세 포함 <b class="inp-price-vat"><%- comma((Math.round(data.vat*1.1))+'') %></b> 원)</small>
                        </div>
                     </div>
                </div>
            </div>
            <div class="price-area">
                <div class="d-flex justify-content-between">
                    <h5>종로 평균 판매</h5>
                    <p class="price <%- typ=='G'? 'text-warning': 'text-secondary' %>">
                        <span><%- comma(data.sell+'') %> <small>원/돈</small></span>
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <h5>종로 평균 매입</h5>
                    <p class="price <%- typ=='G'? 'text-warning': 'text-secondary' %>">
                        <span><%- comma(data.buy+'') %> <small>원/돈</small></span>
                    </p>
                </div>
                <div>
                    <small>예상 가격 계산</small>
                    <div class="d-flex cal-price sell">
                        <div style="width:40%; padding-right: 4px">
                            <div class="input-group">
                                <input type="text" class="inp-amt form-control text-end" value="1" />
                                <span class="input-group-text btn-unit border-0">돈</span>
                            </div>
                        </div>
                        <div style="width:60%">
                            <div class="input-group">
                                <input type="text" class="inp-price form-control text-end" value="<%- comma((data.sell)+'') %>" />
                                <span class="input-group-text border-0 bg-white">원</span>
                            </div>
                            <small class="d-block text-end w-100">(부가세 포함 <b class="inp-price-vat"><%- comma((Math.round(data.sell*1.1))+'') %></b> 원)</small>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script th:src="@{/js/price/gold.js}"></script>
    </th:block>
</th:block>