<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/qna.css}" rel="stylesheet">

        <span class="top-bar-title title">시세</span>

        <div class="d-flex tab mb-4">
            <div class="w-50 text-center p-3"><a th:href="@{/price/gold}">금/은</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/price/dia}">다이아</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/price/subu}">쓰브</a></div>
            <div class="w-50 text-center p-3 on"><a th:href="@{/price/pearl}">진주</a></div>
        </div>


        <div class="container-fluid" style="overflow-x:auto">
            <img th:src="@{/images/price_pearl.png}" />
        </div>


        <script th:src="@{/js/price/pearl.js}"></script>
    </th:block>
</th:block>