<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <span class="top-bar-title after">내 정보 변경</span>

        <div class="container-fluid">
            <label>사용자 이름</label>
            <input type="text" class="form-control border" name="user_nm" id="user_nm" readonly />
            <label class="mt-3">전화번호</label>
            <input type="number" class="form-control border" name="tel" id="tel" placeholder="'-'기호 제외" />
            <label class="mt-3">휴대폰 번호</label>
            <input type="number" class="form-control border" name="mobile" id="mobile" placeholder="'-'기호 제외"  />
            <label class="mt-3">이메일 주소</label>
            <input type="email" class="form-control border" name="email" id="email" />

            <a class="btn w-100 btn-gold text-white fw-light" id="btn-register">완료</a>
        </div>
        <script th:src="@{/js/mypage/changeInfo.js}"></script>
    </th:block>
</th:block>