<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
            .form-check-input:checked{
                background-color: #6CD1CB;
                border-color: #6CD1CB;
            }
            .form-switch .form-check-input {
                width: 3em;
                height: 1.8em;
            }
        </style>

        <span class="top-bar-title title">내 정보 변경</span>

        <div class="container-fluid">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    푸시알림 허용
                    <div class="form-check form-switch float-end">
                        <input class="form-check-input gold" type="checkbox" id="chk-push">
                    </div>
                </li>
                <li class="list-group-item link p-3" data-link="/mypage/changeInfo">
                    개인정보 변경
                    <img class="float-end m-2" th:src="@{/images/arrow-right.svg}" />
                </li>
                <li class="list-group-item link p-3" data-link="/mypage/changePassword">
                    비밀번호 변경
                    <img class="float-end m-2" th:src="@{/images/arrow-right.svg}" />
                </li>
            </ul>
        </div>

        <script>
            $(function (){
                $('.list-group-item.link').click(function (){
                    location.href = _host + $(this).data('link')
                })
                let push = getPush();

                if(push != null){
                    if(push.push_yn == 'Y'){
                        $('#chk-push').prop('checked', true)
                    }else{
                        $('#chk-push').prop('checked', false)
                    }
                    $('#chk-push').change(function (){
                        push.uuid = _user.uuid
                        if($(this).is(':checked')){
                            push.push_yn = 'Y'
                            $.ajax({
                                type: 'post',
                                url: _host + '/func/setPushToken',
                                data: push,
                                success: function (res){
                                    modal.alert("푸시알림을 허용합니다.")
                                    setPush(push)
                                }
                            })
                        }else{
                            push.push_yn = 'N'
                            $.ajax({
                                type: 'post',
                                url: _host + '/func/setPushToken',
                                data: push,
                                success: function (res){
                                    modal.alert("푸시알림을 해제합니다.")
                                    setPush(push)
                                }
                            })
                        }

                    })
                }else{
                    $('#chk-push').prop('disabled', true)
                }
            })
        </script>

    </th:block>
</th:block>