<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/admin/comm.css}" rel="stylesheet">

        <span class="top-bar-title title">관리자</span>

        <div class="d-flex mb-4 admintab">
            <div class="w-25 text-center p-3"><a th:href="@{/admin/member}">회원</a></div>
            <div class="w-25 text-center p-3"><a th:href="@{/admin/qna}">문의</a></div>
            <div class="w-25 text-center p-3 on"><a th:href="@{/admin/market}">업체</a></div>
            <div class="w-25 text-center p-3"><a th:href="@{/admin/price}">시세</a></div>
        </div>

    </th:block>
</th:block>