#userid{
    margin-top:30%;
    margin-bottom:12px;    
}


#btn-login{
    margin-top:20px;
}

.lb-autologin{
    font-size: 16px;
    margin-top: 11px;
    color:#3B3B3B
}
#autologin{
    display: none;
}
.spn-checkbox{
    border-radius: 4px;
    border: 1px solid #DAD9D9;
    display: inline-block;
    width: 24px;
    height: 23px;
    text-align: center;
    margin-right: 6px;
    position: absolute;
}
.spn-checkbox img {
    margin-top:4px;
}
.lb-autologin{
    margin-bottom:55px;
}
.lb-autologin span:last-child{
    margin-left:4px;
}
.sm-bar{
    color:#d9d9d9;
    font-size:8px;
    margin-top:2px
}
.btn-gray{
    color:#868686;
    font-size: 14px;
    font-weight: light;
    text-decoration: none;
    padding: 0px 28px;
}