<$ include ../_shared/header $>
<link rel="stylesheet" href="/css/map.css" />
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b014172c9c9d6ef867195084fe9b1c19&libraries=services"></script>
<script src="/js/map.js"></script>

<div id="map" style="width:100%;"></div>

<div id="list" class="container"></div>

<script id="tmpl-list" type="text/template">
    <% _.each(data, function(v, i){%>
        <div class="d-flex m-2">
            <div class="flex-grow-1"><%- v.place_nm %></div>
            <div>
                <a class="btn btn-primary"><i class="fas fa-phone"></i></a>
                <a class="btn btn-primary btn-location" data-idx="<%- i %>" data-lat="<%- v.lat %>" data-lng="<%- v.lng %>"><i class="fas fa-map-marker-alt"></i></a>
            </div>
        </div>
    <%}) %>
</script>

<$ include ../_shared/footer $>