<$ include ../_shared/header $>
<link rel="stylesheet" href="/css/map.css" />
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b014172c9c9d6ef867195084fe9b1c19"></script>
<script src="/js/map.js"></script>

<div id="map" style="width:100%;"></div>

<$ include ../_shared/footer $>