<$ include ../_shared/header $>
<link rel="stylesheet" href="/css/home.main.css" />
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span>오늘의 종로 금 시세</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="mt-2 mb-3">
                                <span class="badge bg-warning">VAT 별도</span><br />
                                <b class="fs-2 btn-calc">200,000</b><small>(원/돈)</small>
                            </div>
                            <div>
                                <span class="badge bg-warning">종로평균시세</span><br />
                                <b class="fs-2 btn-calc">180,000</b><small>(원/돈)</small>
                            </div></div>
                        <div>
                            <a class="btn d-block btn-sm btn-dark m-1" href="/price?idx=0">금/은 <i class="text-warning fas fa-caret-right"></i></a>
                            <a class="btn d-block btn-sm btn-dark m-1" href="/price?idx=1">다이아 <i class="text-warning fas fa-caret-right"></i></a>
                            <a class="btn d-block btn-sm btn-dark m-1" href="/price?idx=2">쓰브 <i class="text-warning fas fa-caret-right"></i></a>
                            <a class="btn d-block btn-sm btn-dark m-1" href="/price?idx=3">진주 <i class="text-warning fas fa-caret-right"></i></a>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <small>업데이트 2021-03-01 09:23:32</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end">
            <small class="text-light">*평균시세입니다. 금액은 변동될 수 있습니다.</small>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-3">
    <div><a class="btn btn-lg w-100 btn-primary text-light" href="/common/calc?price=200,000">제품 계산기</a></div>
</div>

<div class="container-fluid bg-light ctg-area mt-4 pt-2 pb-2">
    <div class="row">
        <div class="col-12">
            <span class="title text-dark">종로 도매업체 소개</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=0">
            <i class="fas fa-carrot"></i>
            <small class="d-block">웨딩</small></a>
        </div>
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=1">
            <i class="fas fa-carrot"></i>
            <small class="d-block">순금</small></a>
        </div>
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=2">
            <i class="fas fa-carrot"></i>
            <small class="d-block">체인</small></a>
        </div>
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=3">
            <i class="fas fa-carrot"></i>
            <small class="d-block">커플링</small></a>
        </div>
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=4">
            <i class="fas fa-carrot"></i>
            <small class="d-block">다이아</small></a>
        </div>
        <div class="col-3 text-center p-3">
            <a class="text-dark" href="/product?idx=5">
            <i class="fas fa-carrot"></i>
            <small class="d-block">진주</small></a>
        </div>
        <div class="col-6 text-center p-3">
            <a class="text-dark" href="/product?idx=6">
            <i class="far fa-clock"></i>
            <small class="d-block">중고명품시계</small></a>
        </div>
    </div>
</div>

<$ include splash $>

<$ include ../_shared/footer $>