<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/mainLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/list.css}" rel="stylesheet">

        <div class="container-fluid board-info">
            <div class="info" th:if="${param.typ.toString().equals('01')}">
                <h1>제품요청</h1>
                <p>필요한 제품이 있으면 도매상인들에게 제품을 요청하세요.</p>
                <a class="btn btn-gold text-white" th:href="@{/board/write?typ=01}" id="btn-register">글쓰기</a>
            </div>

            <input type="hidden" th:value="${param.typ}" id="typ" />

            <table id="list" class="table"></table>
        </div>

        <script type="text/template" id="tmpl-list">
            <% _.each(data, function(v, i){%>
            <tr>
                <td><a class="link" data-bid="<%- v.id %>"><%- v.title %>
                    <% if(v.cmt_cnt > 0){%>
                    <span class="badge bg-primary"><%- v.cmt_cnt %></span>
                    <%}%>
                </a></td>
                <td><%- v.writer %></td>
                <td><%- v.moddt.replace('T', ' ') %></td>
            </tr>
            <%})%>
        </script>
        <script th:src="@{/js/board/list.js}"></script>
    </th:block>
</th:block>