<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/market/map.css}" rel="stylesheet">

        <div id="map"></div>

        <div class="container-fluid fixed-top pb-3 ps-0 pe-0 search-area">
            <div class="ads-area m-1">
                광고 여기어때?
            </div>
            <div class="search-bar ms-3 me-3">
                <input type="text" id="search-place" class="p-0 w-100" placeholder="업체명 또는 건물명으로 검색하세요." />
                <a class="position-absolute" id="btn-search"><img th:src="@{/images/icon_main_search.svg}" /></a>
            </div>
        </div>

        <div id="list" class="container"></div>

        <div id="detail" class="container p-3 bg-white"></div>

        <script id="tmpl-list" type="text/template">
            <% _.each(data, function(v, i){%>
            <div class="d-flex mt-3 pb-2 ms-2 me-2 border-bottom">
                <div class="flex-grow-1 btn-location" data-idx="<%- i %>">
                    <p class="place-link mb-0" data-mapid="<%- v.id %>"><%- v.place_nm %></p>
                    <small><%- v.addr %></small>
                </div>
            </div>
            <%}) %>
        </script>
        <script id="tmpl-detail" type="text/template">
            <div class="d-flex" data-mapid="<%- data.id %>">
                <div class="map-photo">
                    <img th:src="@{/images/icon_market.svg}" />
                </div>
                <div class="flex-grow-1 ps-2 pe-2 position-relative">
                    <p class="mb-0">
                        <% if(market != null){%>
                        <span><%- data.place_nm %>(<%- market.market_nm %>)</span> <a class="btn" href="tel:<%- market.tel %>"><i class="fas fa-phone text-success"></i></a>
                        <%}else{%>
                        <span class="place-link" data-mapid="<%- data.id %>"><%- data.place_nm %></span>
                        <%}%>
                    </p>
                    <small><%- data.addr %></small>
                    <div>
                        <a class="btn btn-gold text-white position-absolute bottom-0 end-0" href="javascript:window.open('https://map.kakao.com/link/to/<%- data.place_nm %>,<%- data.lat %>,<%- data.lng %>')">길찾기</a>
                    </div>
                </div>
            </div>
        </script>

        <div id="search-list" style="display: none"></div>

        <script id="tmpl-search-list" type="text/template">
            <% _.each(data, function(v, i){%>
            <div class="col-12 place ps-4 mb-3" data-id="<%- v.id %>" data-mid="<%- v.market_id %>">
                <p class="mb-0"><%- v.place_nm %>
                    <% if(v.ismarket){%>
                    <span>(<%- v.market_nm %>)</span>
                    <%}%></p>
                <small class="text-lightgray"><%- v.addr %></small>
            </div>
            <%})%>
        </script>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b014172c9c9d6ef867195084fe9b1c19&libraries=services"></script>
        <script th:src="@{/js/market/map.js}"></script>
    </th:block>
</th:block>