<div class="container-fluid fixed-bottom bg-light border-top">
    <div class="d-flex justify-content-between menubar pt-2 pb-2">
        <div><a class="btn btn-sm btn-light">제품찾기</a></div>
        <div><a class="btn btn-sm btn-light" href="/map">종로지도</a></div>
        <div><a class="btn btn-sm btn-light" href="/common/calc?price=200,000">제품계산기</a></div>
        <div><a class="btn btn-sm btn-light" href="/price?idx=0">시세</a></div>
    </div>
</div>