<div class="container-fluid sidebar border-start">
    <div class="pt-2 pb-2 text-end">
        <a class="btn btn-close-sidebar"><span>닫기</span> <i class="fas fa-chevron-right"></i></a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="btn btn-lg btn-primary text-light w-100" href="/common/calc?price=200,000">제품 계산기</a></li>
        <li class="list-group-item">관심업체 <i class="fas fa-heart text-danger"></i></li>
        <li class="list-group-item">내정보 변경 <i class="far fa-user text-secondary"></i></li>
        <li class="list-group-item">환경설정</li>
        <li class="list-group-item">문의하기</li>
        <li class="list-group-item">도움말 <i class="fas fa-info-circle text-info"></i></li>
        <li class="list-group-item">로그아웃</li>
        <li class="list-group-item"><a class="btn btn-lg btn-dark w-100 p-5 mt-5" href="/">모든종로시세</a></li>
    </ul>
</div>