<div class="container-fluid header fixed-top bg-light border-bottom">
    <div class="d-flex justify-content-between header p-2">
        <div><i class="far fa-bell"></i></div>
        <div><a class="btn btn-light" href="/main">모든종로시세</a></div>
        <div><a class="btn-open-sidebar text-dark"><i class="fas fa-bars"></i></a></div>
    </div>
</div>
<div class="container-fluid p-3">&nbsp;</div>