<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/calc/calc.css}" />
        <script th:src="@{/js/calc/etc.js}"></script>

        <div class="fixed-top top-bar">
            <span class="title">잡금 계산기</span>
            <a class="position-absolute" id="btn-back"><img th:src="@{/images/icon_back.svg}" /></a>
        </div>

        <div class="d-flex tab board-tab mb-4">
            <div class="w-50 text-center p-3"><a th:href="@{/calc/gold}">금 계산기</a></div>
            <div class="w-50 text-center p-3 on"><a th:href="@{/calc/etc}">잡금 계산기</a></div>
        </div>

        <div class="container-fluid text-end">
            <a><img th:src="@{/images/btn_init.svg}" /></a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-end">
                    <a class="btn btn-init">초기화</a>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-1"></div>
                <div class="col-3 pt-2">14K</div>
                <div class="col-3 text-end"><b class="key flex-fill fs-2 unit-g">0</b></div>
                <div class="col-1 ps-0 pt-2">g</div>
                <div class="col-3 text-end"><b class="key flex-fill fs-2 on text-lightgray unit-d">0</b></div>
                <div class="col-1 ps-0 pt-2">돈</div>
            </div>
            <div class="row mt-1">
                <div class="col-1 pt-2">+</div>
                <div class="col-3 pt-2">18K</div>
                <div class="col-3 text-end"><b class="key flex-fill fs-2 unit-g">0</b></div>
                <div class="col-1 ps-0 pt-2">g</div>
                <div class="col-3 text-end"><b class="key flex-fill fs-2 unit-d">0</b></div>
                <div class="col-1 ps-0 pt-2">돈</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3 pt-2">24K</div>
                <div class="col-3 text-end"><b class="price fs-2 unit-g">0</b></div>
                <div class="col-1 ps-0 pt-2">g</div>
                <div class="col-3 text-end"><b class="price fs-2 unit-d">0</b></div>
                <div class="col-1 ps-0 pt-2">돈</div>
            </div>
        </div>


        <div class="container-fluid bg-light p-0 fixed-bottom keypad">
            <table class="table table-bordered border-secondary m-0" style="table-layout: fixed;">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td class="del"><i class="fas fa-backspace"></i></td>
                    <td>0</td>
                    <td>.</td>
                </tr>
            </table>
            <a class="btn btn-gold text-white w-100 rounded-0 pt-4 pb-4 btn-close-keypad">완료</a>
        </div>
    </th:block>
</th:block>