<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/calc/calc.css}" />
        <script th:src="@{/js/calc/gold.js}"></script>
        <span class="top-bar-title title">계산기</span>

        <div class="d-flex tab board-tab mb-4">
            <div class="w-50 text-center p-3 on"><a th:href="@{/calc/gold}">금 계산기</a></div>
            <div class="w-50 text-center p-3"><a th:href="@{/calc/etc}">잡금 계산기</a></div>
        </div>

        <div class="container-fluid text-end">
            <a><img th:src="@{/images/btn_init.svg}" /></a>
        </div>

        <input th:type="hidden" th:value="${param.price}" id="hid-price" />
        <div class="container-fluid mt-2">
            <div class="row gx-2">
                <div class="col-5">
                    <select class="form-select">
                        <option>VAT 포함가</option>
                        <option>종로 평균금액</option>
                    </select>
                </div>
                <div class="col-7">
                    <div class="form-control d-flex">
                        <small>시세</small> <b class="val-price key flex-fill"></b> <small>원</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <div class="row gx-2">
                <div class="col-5">
                    <span>14K 중량</span>
                    <div class="form-control d-flex">
                        <b class="val-weight key flex-fill">0.65</b> <small>g</small>
                    </div>
                </div>
                <div class="col-7">
                    <span>공임비</span>
                    <div class="form-control d-flex">
                        <b class="val-wage key flex-fill">12,000</b> <small>원</small>
                    </div>
                </div>
            </div>
            <div class="mt-3 rounded-3">
                <div class="d-flex">
                    <label class="lb-checkbox fw-light"><input type="checkbox" id="chk-stone" />
                        <img src="/jtoday/images/check_off.svg">
                        <span>스톤포함</span>
                    </label>
                </div>
                <div class="row stone-form gx-2 mt-2">
                    <div class="col-5">
                        <span>수량</span>
                        <div class="form-control d-flex">
                            <b class="val-stone-cnt key flex-fill">1</b> <small>개</small>
                        </div>
                    </div>
                    <div class="col-7">
                        <span>스톤금액</span>
                        <div class="form-control d-flex">
                            <b class="val-stone-price key flex-fill">800</b> <small>원</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5 pb-4">
            <b class="title mt-4">원가 배율 예측</b>
            <table class="table mt-2 mb-0">
                <thead class="bg-light">
                <tr>
                    <th class="text-center p-2">배율</th>
                    <th class="text-center p-2">14K</th>
                    <th class="text-center p-2">18K</th>
                </tr>
                </thead>
                <tr>
                    <td class="text-center">원가</td>
                    <td class="text-center"><b class="p14k"></b> <small>원</small></td>
                    <td class="text-center"><b class="p18k"></b> <small>원</small></td>
                </tr>
                <tr>
                    <td class="text-center">1.2배</td>
                    <td class="text-center"><b class="p14k-t12"></b> <small>원</small></td>
                    <td class="text-center"><b class="p18k-t12"></b> <small>원</small></td>
                </tr>
                <tr>
                    <td class="text-center">1.4배</td>
                    <td class="text-center"><b class="p14k-t14"></b> <small>원</small></td>
                    <td class="text-center"><b class="p18k-t14"></b> <small>원</small></td>
                </tr>
                <tr>
                    <td class="text-center">1.6배</td>
                    <td class="text-center"><b class="p14k-t16"></b> <small>원</small></td>
                    <td class="text-center"><b class="p18k-t16"></b> <small>원</small></td>
                </tr>
                <tr>
                    <td class="text-center">1.8배</td>
                    <td class="text-center"><b class="p14k-t18"></b> <small>원</small></td>
                    <td class="text-center"><b class="p18k-t18"></b> <small>원</small></td>
                </tr>
            </table>
            <small class="text-gold-dark">
                * 예측가로 실제 금액과 오차가 있을 수 있습니다.<br />
                * 18K는 14K 금 중량에 <b>1.25배</b>입니다.
            </small>
        </div>


        <div class="container-fluid bg-light p-0 fixed-bottom keypad">
            <table class="table table-bordered border-secondary m-0" style="table-layout: fixed;">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>.</td>
                    <td>0</td>
                    <td class="del"><img th:src="@{/images/btn_calc_del.svg}"></td>
                </tr>
            </table>
            <a class="btn btn-gold text-white w-100 rounded-0 pt-4 pb-4 btn-close-keypad">완료</a>
        </div>
    </th:block>
</th:block>