<$ include ../_shared/header $>
<link rel="stylesheet" href="/css/auth.join.css" />

<div class="container-fluid">
    <div class="row">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
    </div>
</div>

<$ include ../_shared/footer $>
