<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-sidebar">

    <div class="container-fluid sidebar">
        <div class="pt-2 pb-2 text-end">
            <a class="btn btn-close-sidebar"><img th:src="@{/images/btn_close.svg}" /></a>
            <div class="userinfo" id="btn-update-userinfo" style="display: none">
                <a id="btn-main-photo"></a>
                <div><span>&nbsp;&nbsp;</span> <span class="biznm"></span> <img th:src="@{/images/arrow-right.svg}" style="margin-top:-4px" /></div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item pb-1">
                <p class="mb-2">환영합니다. <span class="usernm" style="color:#000; font-width: bold;"></span></p>
            </li>
            <li class="list-group-item pb-1 border-0"><a data-url="/mypage/list">
                <img th:src="@{/images/icon_mypage.svg}" /> 내 정보 변경</a></li>
            <li class="list-group-item pb-1 border-0"><a data-url="/board/qna">
                <img th:src="@{/images/icon_qna.svg}" /> 1:1 문의</a></li>
            <li class="list-group-item pb-1 border-0"><a href="javascript:modal.alert('준비중입니다.')">
                <img th:src="@{/images/icon_help.svg}" /> 도움말</a></li>
            <li class="list-group-item pb-1 border-0"><a href="tel:02-745-1145">
                <img th:src="@{/images/icon_phone.svg}" /> 고객센터</a></li>
            <li class="list-group-item pb-1 border-0"><a th:href="@{/auth/login}">
                <img th:src="@{/images/icon_logout.svg}" /> 로그아웃</a></li>
            <li class="list-group-item pb-1 border-0" style="margin-top:5px"><a id="menu-admin" th:href="@{/admin/price}">
                <img th:src="@{/images/icon_admin.svg}" /> 관리자</a></li>
        </ul>
    </div>


</div>
</html>