<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/plugins/bootstrap/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/common.css}" rel="stylesheet" />


        <script th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/plugins/jquery.cookie/jquery.cookie.js}"></script>
        <script th:src="@{/plugins/bootstrap/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/popper.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
        <title>종로투데이</title>
    </head>
    <body style="background:#6CD1CB">

    <th:block th:replace="${content}"></th:block>

    </body>
</th:block>
</html>
