<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/plugins/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>종로투데이</title>
</head>
    <body>
    <div class="fixed-top top-bar d-flex justify-content-between">
        <a><img th:src="@{/images/logo.svg}" /></a>
        <a><img th:src="@{/images/top_menu.svg}" /></a>
    </div>
    <div class="bg-top position-absolute w-100 top-0"></div>

    <th:block th:replace="${content}"></th:block>

    <div class=" fixed-bottom bottom-bar d-flex justify-content-around">
        <a class="btn-menu">
            <img th:src="@{/images/menu01_on.svg}" />
        </a>
        <a class="btn-menu">
            <img th:src="@{/images/menu02_off.svg}" />
        </a>
        <a class="btn-menu">
            <img th:src="@{/images/menu03_off.svg}" />
        </a>
        <a class="btn-menu">
            <img th:src="@{/images/menu04_off.svg}" />
        </a>
        <a class="btn-menu">
            <img th:src="@{/images/menu05_off.svg}" />
        </a>
    </div>

    <script th:src="@{/plugins/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/plugins/underscore/underscore-min.js}"></script>
    <script th:src="@{/plugins/jquery.cookie/jquery.cookie.js}"></script>
    <script th:src="@{/plugins/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    </body>
</th:block>
</html>
