<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
    <head>
        <div th:replace="/_layout/_header.html :: fragment-header"></div>
    </head>
    <body>
    <div class="fixed-top top-bar text-center">
        <a th:href="@{/main/main}"><img class="logo" th:src="@{/images/logo.svg}" /></a>
        <a class="btn-open-sidebar position-absolute end-0 me-3"><img th:src="@{/images/top_menu.svg}" /></a>
    </div>
    <div class="bg-top position-absolute w-100 top-0"></div>

    <div class="top-empty" style="height: 80px;">&nbsp;</div>
    <th:block th:replace="${content}"></th:block>
    <div class="bottom-empty" style="height: 160px;">&nbsp;</div>


    <div th:replace="/_layout/_sidebar.html :: fragment-sidebar"></div>
    <div th:replace="/_layout/_footer.html :: fragment-footer"></div>
    <div th:replace="/_layout/_modal.html :: fragment-modal"></div>
    </body>
</th:block>
</html>
