<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/mainLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/main.css}" rel="stylesheet">
        <script th:src="@{/js/main.js}"></script>
        <div class="container-fluid">
            <div class="search-bar">
                <span>어떤 도매 업체를 찾으시나요?</span>
                <a class="position-absolute" id="btn-search"><img th:src="@{/images/icon_main_search.svg}" /></a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="top-area-tit">
                오늘 종로의<br />
                <span class="fw-bolder">금 판매 시세</span>는?
            </div>
            <div class="top-area-date">
                 <span class="update-dt"></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="price-area d-flex">
                <div class="tit tit1">
                    # 부가세 별도
                </div>
                <div class="flex-grow-1 price"><span class="vat"></span><span class="unit">원/돈</span></div>
                <div class="calc"><img th:src="@{/images/btn_calc_icon1.svg}" /></div>
            </div>
            <div class="price-area d-flex justify-content-between">
                <div class="tit tit2">
                    # 부가세 포함
                </div>
                <div class="flex-grow-1 price"><span class="ivat"></span><span class="unit">원/돈</span></div>
                <div class="calc"><img th:src="@{/images/btn_calc_icon2.svg}" /></div>
            </div>
            <div class="price-area d-flex justify-content-between">
                <div class="tit tit3">
                    # 종로 평균
                </div>
                <div class="flex-grow-1 price"><span class="sell"></span><span class="unit">원/돈</span></div>
                <div class="calc"><img th:src="@{/images/btn_calc_icon3.svg}" /></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <small class="msg">* 평균시세입니다. 금액은 변동될 수 있습니다.</small>
            </div>
        </div>
        <div class="container-fluid ps-4 pe-4 main-bg-dark">
            <div class="row">
                <div class="col-3 p-0 text-center">
                    <a><img th:src="@{/images/btn_price1.svg}" /></a></a></div>
                <div class="col-3 p-0 text-center">
                    <a><img th:src="@{/images/btn_price2.svg}" /></a></div>
                <div class="col-3 p-0 text-center">
                    <a><img th:src="@{/images/btn_price3.svg}" /></a></div>
                <div class="col-3 p-0 text-center">
                    <a><img th:src="@{/images/btn_price4.svg}" /></a></div>
            </div>
        </div>
        <div class="container-fluid main-btn-area">
            <div class="row gx-2">
                <div class="col-12 pt-3">
                    <a th:href="@{/calc/gold}" class="w-100"><img class="w-100" th:src="@{/images/btn_main_bigcalc.svg}" /></a></div>
                <div class="col-6 pt-3">
                    <a th:href="@{/calc/etc}" class="w-100"><img class="w-100" th:src="@{/images/btn_main_subcalc.svg}" /></a></div>
                <div class="col-6 pt-3">
                    <a th:href="@{/market/map}" class="w-100"><img class="w-100" th:src="@{/images/btn_main_map.svg}" /></a></div>
            </div>

        </div>

        <div class="container-fluid market-area mt-5">
            <div class="row">
                <div class="col tit">종로 도매 업체</div>
                <div class="col text-end"><a class="btn-register">업체 등록하기</a></div>
            </div>
            <div class="row market-btn-area">
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=01}"><img th:src="@{/images/순금.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=02}"><img th:src="@{/images/웨딩.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=03}"><img th:src="@{/images/패션.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=04}"><img th:src="@{/images/귀걸이.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=05}"><img th:src="@{/images/체인.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=06}"><img th:src="@{/images/커플링.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=07}"><img th:src="@{/images/진주.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=08}"><img th:src="@{/images/레이저각인.png}" /></a>
                </div>
                <div class="col-3">
                    <a th:href="@{/market/listByItem?typ=09}"><img th:src="@{/images/도금.png}" /></a>
                </div>
            </div>
        </div>
    </th:block>
</th:block>