<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/introLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="text-center w-100" style="margin-top:30%"><img th:src="@{/images/splash02.svg}" /></div>
        <div class="text-center w-100"><img th:src="@{/images/splash01.svg}" /></div>
        <div class="container-fluid" id="btn-area" style="margin-top:20%; display: none">
            <a th:href="@{/auth/join}" class="btn btn-lg w-75" style="display: block; margin:0px auto; background: #fff; color: #6CD1CB; border: 1px solid #fff; border-radius: 4px">회원가입</a>
            <a th:href="@{/auth/login}" class="btn btn-lg w-75" style="display: block; margin:0px auto; background: #6CD1CB; color: #fff; border: 1px solid #fff; border-radius: 4px; margin-top:16px">로그인</a>
        </div>
        <div class="fixed-bottom text-center w-100" style="margin-bottom:80px"><img th:src="@{/images/logo.svg}" /></div>

        <script>
            $(function (){
                setTimeout(function (){
                    if( localStorage.getItem('autologin') != null && localStorage.getItem('autologin') != "N" ){
                        autologin();
                    }else{
                        $('#btn-area').fadeIn(500)
                    }
                }, 300)
            })

            function autologin(){
                if(localStorage.getItem('autologin').indexOf("|")>0){
                    let arr = localStorage.getItem('autologin').split('|')
                    $.ajax({
                        type: 'post',
                        url: _host + '/auth/login',
                        data: {
                            userid: arr[0],
                            pw: arr[1]
                        },
                        success: function(res){
                            if(res.user_id == null){
                                $('#btn-area').fadeIn(500)
                                localStorage.setItem('autologin', "N")
                            }else if(res.confirm_yn == null){
                                location.href = _host + '/auth/join?userid=' + res.user_id
                            }else{
                                $.cookie('authkey', res.token, { expires: 7, path: '/' });
                                localStorage.setItem('autologin',arr[0]+'|'+arr[1])
                                localStorage.setItem('profile', JSON.stringify(res))
                                location.href = _host + '/main/main'
                            }
                        }
                    })
                }
            }
        </script>
    </th:block>
</th:block>