<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/detail.css}" rel="stylesheet">
        <div class="fixed-top top-bar">
            <span th:if="${param.typ.toString().equals('01')}" class="title">제품요청</span>
            <span th:if="${param.typ.toString().equals('02')}" class="title">문의하기</span>
            <a class="position-absolute" id="btn-close"><img th:src="@{/images/btn_close.svg}" /></a>
        </div>

        <div class="container-fluid board-info">
            <input type="hidden" th:value="${param.id}" id="bid" />
            <input type="hidden" th:value="${param.typ}" id="typ" />

            <div class="border-bottom">
                <p id="title"></p>
            </div>
            <div class="writer-info mt-2">
                <span id="moddt" class="float-end"></span>
                <b id="biznm"></b><br /><span class="text-decoration-underline"><span id="usernm"></span>(<span id="userid"></span>)</span><br />
            </div>
            <div id="contents" class="mt-5"></div>
        </div>

        <div class="container-fluid comment-list">
            <p class="text-end mt-5 mb-0">답글 <span id="comment-cnt"></span>건</p>
            <div id="list"></div>
        </div>

        <div class="container-fluid bg-white border-top fixed-bottom p-0 comment-area">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <textarea id="text-comment" rows="4" class="w-100 form-control rounded-0 border-0"></textarea>
                </div>
                <div id="btn-reply" class="btn-gold">
                    <small>댓글<br />달기</small>
                </div>
            </div>
        </div>

        <div style="height: 200px"></div>
        <script type="text/template" id="tmpl-list">
            <% _.each(data, function(v, i){%>
            <div>
                <img th:src="@{/images/arrow-reply.svg}" />
                <span class="text-gold"><%-v.user_nm%></span> <span class="moddt"><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss')%></span>
                <div>
                    <%- v.contents %>
                </div>
            </div>
            <%})%>
        </script>

        <script th:src="@{/js/board/detail.js}"></script>
    </th:block>
</th:block>