<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/board.css}" rel="stylesheet">
        <link th:href="@{/css/board/detail.css}" rel="stylesheet">
        <div class="fixed-top top-bar">
            <a class="position-absolute" id="btn-back"><img th:src="@{/images/icon_back.svg}" /></a>
            <span class="title">제품 요청</span>
        </div>

        <div class="container-fluid board-info">
            <input type="hidden" th:value="${param.id}" id="bid" />
            <input type="hidden" th:value="${param.typ}" id="typ" />

            <div>
                <div class="b-writer">
                    <p class="mb-0 text-secondary"><span id="biznm"></span>(<span id="usernm"></span>)</p>
                    <small id="moddt"></small>
                </div>
                <div class="b-title mt-2" id="title"></div>
                <div class="b-photo"></div>
                <div class="b-contents" id="contents"></div>
            </div>
        </div>
        <div class="container-fluid comment-list">
            <div class="b-comment">
                <img th:src="@{/images/icon_comment.svg}" /> 댓글 <span id="comment-cnt"></span>
            </div>
            <div id="list" class="border-top mt-2"></div>
        </div>

        <div class="container-fluid fixed-bottom p-0 comment-area">
            <div class="d-flex pt-2 pb-1">
                <div class="flex-grow-1 pt-0 pb-0">
                    <textarea id="text-comment" rows="1" class="w-100 form-control rounded-0 border-0" placeholder="댓글을 입력하세요."></textarea>
                </div>
                <div id="btn-reply" class="text-gold">등록</div>
            </div>
        </div>

        <div style="height: 200px"></div>
        <script type="text/template" id="tmpl-list">
            <% _.each(data, function(v, i){%>
            <div>
                <div class="c-writer"><span class="text-secondary"><%-v.biz_nm%>(<%-v.user_nm%>)</span><br /><span class="moddt"><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss')%></span></div>
                <div>
                    <%- v.contents %>
                </div>
            </div>
            <%})%>
        </script>

        <script th:src="@{/js/board/detail.js}"></script>
    </th:block>
</th:block>