<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/board.css}" rel="stylesheet">
        <link th:href="@{/css/board/detail.css}" rel="stylesheet">
        <span class="top-bar-title title">제품 요청</span>

        <div class="container-fluid board-info">
            <input type="hidden" th:value="${param.id}" id="bid" />
            <input type="hidden" th:value="${param.typ}" id="typ" />

            <div>
                <div class="b-writer d-flex justify-content-between">
                    <div class="d-flex justify-content-start">
                        <div>
                            <img id="writer-photo" th:src="@{/images/icon_market.svg}" />
                        </div>
                        <div class="p-2">
                            <p class="mb-0"><span id="biznm"></span>(<span id="usernm"></span>)</p>
                            <small id="moddt"></small>
                        </div>
                    </div>
                    <div class="position-relative">
                        <a id="btn-board-menu"><img th:src="@{/images/btn_board_menu.svg}" /></a>
                        <ul id="board-menu" class="list-group rounded-0 position-absolute end-0">
                            <li class="list-group-item text-center" id="btn-edit">수정</li>
                            <li class="list-group-item text-center" id="btn-del">삭제</li>
                        </ul>
                    </div>
                </div>
                <div class="b-title mt-2" id="title"></div>
                <div class="b-photo" style="min-height: 0px;"></div>
                <div class="b-contents-detail mb-3" id="contents"></div>
            </div>
        </div>
        <div class="container-fluid comment-list">
            <div class="b-comment link">
                <img th:src="@{/images/icon_comment.svg}" /> 댓글 <span id="comment-cnt"></span>
            </div>
            <div id="list" class="border-top mt-2"></div>
        </div>

        <div class="container-fluid fixed-bottom p-0 comment-area">
            <div class="d-flex pt-2 pb-1">
                <div class="flex-grow-1 pt-0 pb-0">
                    <textarea id="text-comment" rows="1" class="w-100 form-control rounded-0 border-0" placeholder="댓글을 입력하세요."></textarea>
                </div>
                <div id="btn-reply" class="text-gold">등록</div>
            </div>
        </div>

        <div style="height: 60px"></div>
        <script type="text/template" id="tmpl-list">
            <% _.each(data, function(v, i){%>
            <div>
                <div class="b-writer d-flex justify-content-start">
                    <div>
                        <% if(v.writer_photo != null){%>
                        <img src="<%- _display + v.writer_photo %>" />
                        <%}else{%>
                        <img src="<%- _host + '/images/icon_market.svg' %>" />
                        <%}%>
                    </div>
                    <div class="p-2">
                        <p class="mb-0"><%- v.biz_nm %>(<%- v.user_nm %>)</p>
                        <small><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss') %></small>
                    </div>
                </div>
                <div class="c-contents">
                    <%- v.contents %>
                </div>
            </div>
            <%})%>
        </script>

        <script th:src="@{/js/board/detail.js}"></script>
    </th:block>
</th:block>