<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/pageLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css/board/board.css}" rel="stylesheet">
        <input type="hidden" id="typ" value="01" />
        <span class="top-bar-title title">제품 요청</span>

        <div class="d-flex tab board-tab mb-4">
            <div class="w-50 text-center p-3 on">전체</div>
            <div class="w-50 text-center p-3">나의 요청</div>
        </div>

        <div class="container-fluid screen on" id="all-list"></div>
        <div class="container-fluid screen" id="my-list"></div>

        <a id="btn-board-write" class="position-fixed" style="bottom:60px; right:8px"><img th:src="@{/images/icon_write.svg}" /></a>

        <script type="template/text" id="tmpl-list">
            <% _.each(data, function(v, i){%>
            <div class="border-bottom pb-5 mb-3">
                <div class="b-writer d-flex justify-content-start">
                    <div>
                        <% if(v.writer_photo != null){%>
                        <img src="<%- _display + v.writer_photo %>" />
                        <%}else{%>
                        <img th:src="@{images/icon_market.svg}" />
                        <%}%>
                    </div>
                    <div class="p-2">
                        <p class="mb-0"><%- v.biz_nm %>(<%- v.user_nm %>)</p>
                        <small><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss') %></small>
                    </div>
                </div>
                <div class="b-title mt-2"><%- v.title%></div>
                <% if(v.image_ids.length > 0){%>
                <div class="b-photo" data-id="<%- v.image_ids[0] %>"  data-bid="<%- v.id %>" >
                    <img />
                </div>
                <%}%>
                <div class="b-contents"><%- v.contents%></div>
                <div class="b-comment mt-2">
                    <div class="float-start"><img th:src="@{/images/icon_comment.svg}" /> 댓글 <%- v.cmt_cnt%></div>
                    <div class="float-end link" data-bid="<%- v.id %>"><a class="text-gold">더보기</a></div>
                </div>
            </div>
            <%})%>
        </script>

        <script th:src="@{/js/board/board.js}"></script>
        <script th:src="@{/js/board/list.js}"></script>
    </th:block>
</th:block>