<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/_layout/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <link th:href="@{/css/board/board.css}" rel="stylesheet">

        <span class="top-bar-title title">1:1 문의</span>

        <div class="d-flex tab board-tab mb-4">
            <div class="w-50 text-center p-3 on">1:1문의하기</div>
            <div class="w-50 text-center p-3">나의 문의 내역</div>
        </div>

        <div class="container-fluid screen on">
            <form id="frm">
                <input type="hidden" id="board_typ" name="board_typ" value="02" />
                <input type="hidden" id="writer" name="writer" />
                <input type="hidden" id="image_ids" name="image_ids" />

                <input type="text" class="form-control border mb-2" id="title" name="title" placeholder="제목을 입력하세요." />
                <textarea id="contents" name="contents" rows="8" class="form-control border p-3 mb-2" placeholder="문의하실 내용을 입력하세요." ></textarea>

                <div th:replace="/_layout/_photos.html :: fragment-photos"></div>

                <a class="btn w-100 btn-gold text-white fw-light" id="btn-submit">등록</a>
            </form>
        </div>
        <div class="container-fluid screen" id="list"></div>

        <script type="text/template" id="tmpl-qna">
            <% _.each(data, function(v, i){%>
            <div class="qna-item border mt-3" data-id="<%- v.id %>">
                <div class="title d-flex pe-3 pt-2 ps-3">
                    <div class="flex-grow-1 ellipsis">
                        <% if(v.cmt_cnt == 0){%>
                        <span class="text-red">[답변대기] </span>
                        <%}else{%>
                        <span class="text-green">[답변완료] </span>
                        <%}%>
                        <%- v.title %></div>
                    <a><img th:src="@{/images/arrow-down.svg}" /></a>
                </div>
                <div class="moddt"><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss') %></div>
                <div class="contents p-1">
                    <div class="swiper-container swiper-area<%- v.id %>">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <% _.each(v.image_ids, function(xv, xi){%>
                            <div class="swiper-slide" data-imgid="<%- xv %>">
                                <img class="img-fluid" />
                            </div>
                            <%})%>
                        </div>
                    </div>
                    <div class="pt-2 ps-3 pe-3 pb-3">
                        <pre><%- v.contents %></pre></div>
                    <div class="comments"></div>
                </div>
            </div>
            <%})%>
        </script>

        <script type="text/template" id="tmpl-comment">
            <div class="comment-area">
                <% _.each(data, function(v, i){%>
                <div>
                    <img th:src="@{/images/arrow-reply.svg}" />
                    <span class="writer"><%-v.user_nm%></span> <span class="moddt"><%- dateFormat(v.moddt, 'yyyy-MM-dd hh:mm:ss')%></span>
                    <div>
                        <pre><%- v.contents %></pre>
                    </div>
                </div>
                <%})%>
            </div>
        </script>

        <script th:src="@{/js/board/board.js}"></script>
        <script th:src="@{/js/board/qna.js}"></script>
    </th:block>
</th:block>