<div class="container-fluid p-0 bg-light tmpl-price <$- idx==1?'on':'' $>">
    <table id="tbl-parice-dia" class="display nowrap tbl-parice" style="width:100%">
        <thead>
            <tr>
                <th>mm</th>
                <th>A+등급</th>
                <th>A등급</th>
                <th>B등급</th>
                <th>C등급</th>
                <th>OW등급</th>
            </tr>
            <tbody>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
                <tr>
                    <td>0.9mm</td>
                    <td>2,900원</td>
                    <td>2,600원</td>
                    <td>2,400원</td>
                    <td>2,100원</td>
                    <td>1,300원</td>
                </tr>
            </tbody>
        </thead>
    </table>

    <div class="row">
        <div class="col-12 mt-2 pl-1">
            <div class="card">
                <div class="card-body p-2">
                  (주)위너스  설명 - 부가세 금, 은, 파라듐, 백금 취급 (전화)(카톡)
                </div>
            </div>
          </div>
          <div class="col-12 mt-2 pl-1">
            <div class="card">
                <div class="card-body p-2">
                  (주)위너스  설명 - 부가세 금, 은, 파라듐, 백금 취급 (전화)(카톡)
                </div>
            </div>
          </div>
          <div class="col-12 mt-2 pl-1">
            <div class="card">
                <div class="card-body p-2">
                  (주)위너스  설명 - 부가세 금, 은, 파라듐, 백금 취급 (전화)(카톡)
                </div>
            </div>
        </div>
    </div>
</div>