<$ include ../_shared/header $>
<link rel="stylesheet" href="/css/whole.index.css" />
<script src="/js/whole.index.js"></script>

    <div class="container-fluid fixed-top bg-light" style="top:56px; padding-top:12px">
      <div class="btn-whole-area scroll-x">
        <a class="btn-whole text-dark <$- idx==0?'on':'' $>"><span>웨딩</span></a>
        <a class="btn-whole text-dark <$- idx==1?'on':'' $>"><span>순금</span></a>
        <a class="btn-whole text-dark <$- idx==2?'on':'' $>"><span>체인</span></a>
        <a class="btn-whole text-dark <$- idx==3?'on':'' $>"><span>커플링</span></a>
        <a class="btn-whole text-dark <$- idx==4?'on':'' $>"><span>다이아</span></a>
        <a class="btn-whole text-dark <$- idx==5?'on':'' $>"><span>진주</span></a>
        <a class="btn-whole text-dark <$- idx==6?'on':'' $>"><span>중고명품시계</span></a>
      </div>
    </div>
    <div class="container-fluid" style="height: 46px;"></div>

    <div class="container-fluid">
      <div class="d-flex">
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://www.goldria.net/shopimages/jewelrytop/0120020000792.jpg?1565659583" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://www.goldria.net/shopimages/jewelrytop/0120020000792.jpg?1565659583" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://www.goldria.net/shopimages/jewelrytop/0120020000792.jpg?1565659583" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://www.goldria.net/shopimages/jewelrytop/0120020000792.jpg?1565659583" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<$ include ../_shared/footer $>