.top-empty{
    display: none;
}
.top-area-tit{
    color: #fff;
    font-size: 28px;
    margin-bottom: 8px;
    line-height: 34px;
    margin-left: 18px;
    margin-top:92px
}
.top-area-date{
    color:#C3F2E7;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 18px;
}
.search-bar{
    background: #fff;
    margin-top:12px;
    border-radius: 8px;
    border:1px solid #36BEBF;
    padding:10px 8px 12px;
    position:relative;
    color:#C2C2C2;
}
.search-bar #search-market{
    padding:0px
}
#btn-search{
    top: 8px;
    right: 8px;
    display: block;
    width: 40px;
    height: 40px;
}
.price-area{
    border-radius: 10px;
    background: #fff;
    padding:8px 2px 2px 2px;
    margin-top:10px;
    box-shadow: 2px 2px 5px #00000029;
}
.price-area .tit{
    position: relative;
    margin-left: 8px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -1px;
}
@media (min-width: 325px) {
    .price-area .tit{
        position: relative;
        margin-left: 12px;
        margin-top: 7px;
        font-size: 16px;
        font-weight: bold;
    }
}
.price-area .tit.tit1{
    color:#0C94C6;
}
.price-area .tit.tit2{
    color:#7886C3;
}
.price-area .tit.tit3{
    color:#F3B749;
}
.price-area .price{
    position: relative;
    text-align: right;
    font-size: 24px;
    font-weight:bold;
    margin-top:1px;
    color:#3B3B3B;
    margin-right:32px;
}
.price-area .chk{
    position: absolute;
    left:-20px;
    top:20px
}
.price-area .unit{
    position: absolute;
    right:-32px;
    top:10px;
    font-size:14px;
    font-weight: normal;
}
.price-area .clac{
    width:44px
}
.msg{
    color:#fff;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 8px;

}
.main-bg-dark{
    margin-top:6px;
    background: url('../images/bg_dark.svg') no-repeat;
    background-size: cover;
    height: 170px;
}
.main-bg-dark a{
    margin: 14px 0px 10px;
    display: block;
}
.main-btn-area{
    margin-top:-50px;
    background: url('../images/bg_white.svg') no-repeat;
    background-size: cover;
}
.main-btn-area .btn-left{
    display: inline-block;
    text-decoration: none;
    background: #F5F5F5;
    box-shadow: 1px 1px 6px #00000029;
    margin-bottom: 6px;
    position: relative;
    border-radius: 12px;
    height: 184px;
    line-height: 18px;
    padding:15px;
    margin-top: 18px;
}
.main-btn-area .btn-right{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #F5F5F5;
    box-shadow: 1px 1px 6px #00000029;
    margin-bottom: 6px;
    position: relative;
    border-radius: 12px;
    height: 89px;
    line-height: 18px;
    padding-top:18px
}
.main-btn-area .btn-right:first-child{
    margin-top:18px
}
.main-btn-area .btn-right span{
    display:block;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top:4px
}
.main-btn-area .btn-right img{
    display:block;
    width: 28px;
    margin:0px auto
}

.market-area .tit{
    font-size: 16px;
    font-width: bold;
    color: #3B3B3B
}
/*.market-area .btn-register{*/
/*    color:#868686;*/
/*    background: #ECECEC;*/
/*    font-size: 12px;*/
/*    display: inline-block;*/
/*    padding: 4px 12px 6px;*/
/*    text-decoration: none;*/
/*    border-radius: 12px;*/
/*}*/
.market-area .btn-register{
    color:#000;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color:#7A7A7A;
    letter-spacing:-1px
}
.market-area .market-btn-area{
    margin-top:12px
}
.market-area .market-btn-area img{
    width:100%;
    margin:4px 0px;
}
.market-area .market-btn-area div.bb{
    border-bottom:1px solid #eee;
}
.market-area .market-btn-area div.bl{
    border-left:1px solid #eee;
}
.market-area .market-btn-area div.bt{
    border-top:1px solid #eee;
}
.market-area .market-btn-area a{
    font-size: 0.9rem;
    text-decoration: none;
    color:#3F3D56;
}
.bottom-empty{
    height: 58px !important;
}
.main-banner{
    background: #89C348;
    position: relative;
    color:#fff
}
.main-banner img{
    position: absolute;
    width:35%;
    right:8px;
    top:8px;
}