
.top-bar{
    padding: 11px 20px;
    background: #fff;
    font-size: 20px;
    text-align: center;
}
.top-bar .title{
    display: block;
    margin-top: 4px;
}
#btn-back{
    top:13px;
    left: 20px
}
#btn-close{
    top:7px;
    right: 20px
}