
.top-bar{
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    background: #fff;
}
.top-bar .title{
    display: block;
    margin-top: 4px;
}
#btn-back{
    top:13px;
    left: 20px
}
#btn-close{
    top:7px;
    right: 20px
}
.search-bar{
    margin-top:24px;
    border-bottom: 1px solid #000;
}
#btn-search{
    right:28px;
    top:78px;
}
.scroll-x {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.scroll-x::-webkit-scrollbar {
     height: 0px;
     background-color: black;
}
.btn-nav-area{
    height:37px;
    margin-top:16px;
}
.btn-nav{
    padding:8px 0px;
    text-decoration: none;
    font-size: 14px;
    margin-left: 16px;
    color:#868686;
    border-bottom: 2px solid #fff;
}
.btn-nav.on {
    color:#000;
    border-color:#000;
}

#hot-area{
    margin-top: 16px;
    border-radius: 4px;
    background:#3F3D56;
}

.market{
    border-radius: 4px;
    color:#000
}
.market a{
    margin-right:8px;
}
#hot-area .market{
    color:#fff;
    background:#3F3D56;
}

#hot-area .market{
    color:#fff;
}
#hot-area .carousel-indicators{
    position: static;
    margin-bottom: 0px;
}
.carousel-indicators [data-bs-target]{
    width:6px;
    height: 6px;
    border-radius: 6px;
    opacity: 1;
    border:none;
}
.carousel-indicators [data-bs-target].active{
    background: #36BEBF;
}
.market .photo{
    width:120px;
    margin: 7px 0px
}
.market .photo img{
    margin-top:4px;
    display: block;
    width:100%;
}
.market .photo a{
    width:114px;
    height:114px;
    border: #807E9F 2px solid;
    border-radius: 4px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.market p{
    font-size: 16px;
    margin-top: 11px;
    font-weight: bold;
}
.market small{
    color:#A8A8A8;
    font-weight: normal;
    font-size: 14px;
    display: block;
    height: 36px;
    line-height: 18px;
}
#market-list{
    margin-top:282px;
    border-top:1px solid #E9EAEA;
    padding:0px 20px
}
#market-list hr{
    opacity: 0.1;
    margin:2px 0px
}

#photo-area .carousel-item {
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#photo-page{
    color:#fff;
    bottom:0px;
    padding:4px 16px;
    border-radius: 24px;
    background-color: rgba(0,0,0,0.5);
    font-weight: lighter;
    font-size: 12px;
}
#link-items a{
    padding:4px
}
#map{
    height: 92px;
    width: 100%;
    border:1px solid #eee;
    border-radius: 6px;
}
label{
    font-weight: bold;
    font-size: 0.9rem;
}
.badge{
    background: #F7F7F7;
    color:#7A7A7A;
    border-radius: 4px;
    padding-bottom: 6px;
    display: inline-block;
    margin-right: 6px;
}
#search-market{
    padding-left: 8px;
}