#list{
    overflow-y: auto;
    z-index: 1029;
    position: absolute;
    bottom:0px;
    left:0px;
    background: #fff;
}
#detail{
    overflow-y: auto;
    z-index: 1029;
    position: absolute;
    bottom:50px;
    left:0px;
    padding:8px 4px;
    display: none;
    border-top:1px solid #EEEEF1
}
#detail #btn-list{
    z-index: 1029;
    display: block;
    text-align: right;
}
#detail #btn-list a{
    background: #fff;
    border-top-left-radius: 8px;
    display: inline-block;
    padding:4px 8px;
    font-size: 0.9rem;
}
#detail img{
    width:90px;
    height:90px
}
#detail p{
    font-weight: bold;
}
#detail small{
    color:#7A7A7A ;
}
#detail .btn-gold{
    padding:2px 12px 2px;
    border-radius: 16px;
    font-size: 14px;
}
#search-list p{
    font-weight: bold;
}
#search-list small{
    color: #7A7A7A;
}

input[type=text]:focus{
    box-shadow: none;
}
input::placeholder{
    color:#36BEBF
}
.search-area, #search-list-area{
    background: #36BEBF;
}
.ads-area{
    margin-top: 4px;
    background: #eee;
    padding:24px;
    border-radius: 2px;
}
.search-bar{
    background: #fff;
    margin-top:12px;
    border-radius: 8px;
    padding:10px 16px 12px;
    position:relative;
    color:#C2C2C2;
}
.search-bar #search-market{
    padding:0px
}
#btn-search{
    top:8px;
    right: 16px
}

#search-list{
    position: absolute;
    padding-top:162px;
    z-index: 1028;
    top:0px;
    left:0px;
    background: #fff;
    overflow-y: auto;
    width:100%;
}
#search-list .place{
    background: #fff;
}
.top-empty{
    display: none;
}