<$ include ../_shared/admin_header $>
<link rel="stylesheet" href="/css/admin.gold.css" />
<script src="/js/admin.gold.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">금,은,백금 시세</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">금 평균시세(원/돈)</label>
                    <input type="number" class="form-control" placeholder="평균시세">
                </div>
                <div class="col-md-3">
                    <label class="form-label">금(원/돈)</label>
                    <input type="number" class="form-control" placeholder="판매">
                    <input type="number" class="form-control" placeholder="매입">
                </div>
                <div class="col-md-3">
                    <label class="form-label">은(원/돈)</label>
                    <input type="number" class="form-control" placeholder="판매">
                    <input type="number" class="form-control" placeholder="매입">
                </div>
                <div class="col-md-3">
                    <label class="form-label">백금(원/돈)</label>
                    <input type="number" class="form-control" placeholder="판매">
                    <input type="number" class="form-control" placeholder="매입">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-1">
                    <a class="float-end btn btn-success">등록</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template">
    
</script>

<$ include ../_shared/footer $>