.screen {
    display: none;
}
.screen.on {
    display: block;
}
.moddt{
    color:#BFC1C3; padding-left:90px;
    padding-bottom: 4px;
    font-size: 12px;
}
.text-red{
    color:#D15241
}
.text-green{
    color:#0C94C6
}

.qna-item .contents{
    display: none;
}
.qna-item.on .contents{
    display: block;
}
.comment-area{
    background: #F5F5F5;
    color:#868686;
}
.comment-area div{
    padding:4px 12px 8px;
}
.comment-area .moddt{
    color:#BFC1C3;
    font-size: 12px;
    padding-left: 8px;
}
.comment-area .writer{
    color:#11AE99;
    font-size: 12px;
}
.comment-area .comment{
    font-size: 14px;
}
.photo>div{
    background-repeat: no-repeat;
    background-size: cover;
}

.b-writer{
    font-size: 0.9rem;
    line-height: 14px;
}
.b-writer p{
    font-weight: bold;
}
.b-writer img{
    width:40px;
    height:40px;
    display: block;
    border-radius: 40px;
}
.b-writer small{
    color:#A8A8A8
}
.b-title{
    font-size: 1.2rem;
    margin-bottom: 4px;
    font-weight: bold;
}
.b-photo{
    min-height: 100px;
}
.b-photo img{
    width:100%;
    margin-bottom: 4px;
    border-radius: 4px;
}
.b-contents{
    white-space: normal; line-height: 1.2; height: 2.4em; text-align: left;
    word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;
    width: 100%;
}
.b-contents-detail{
    word-break:break-all;
}
.b-comment{
    font-size: 0.9rem;
}
.c-contents{
    background: #eee;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 40px;
}
.link{
    color:#7A7A7A;
}
.link img{
    margin-top:-4px
}

#all-list>div, #my-list>div{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#btn-board-menu{
    padding:0px 8px;
    display: none;
}
#btn-board-menu img{
    width: 4px;
    height: 20px;
    margin-right: 12px;
    display: block;
}
#board-menu{
    width:80px;
    display: none;
}
#board-menu.on{
    display: block;
}