.screen {
    display: none;
}
.screen.on {
    display: block;
}
.moddt{
    color:#BFC1C3; padding-left:90px;
    font-weight: lighter;
    padding-bottom: 4px;
    font-size: 12px;
}
.text-red{
    color:#D15241
}
.text-green{
    color:#0C94C6
}

.qna-item .contents{
    display: none;
}
.qna-item.on .contents{
    display: block;
}
.comment-area{
    background: #F5F5F5;
    color:#868686;
}
.comment-area div{
    padding:4px 12px 8px;
}
.comment-area .moddt{
    color:#BFC1C3;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 8px;
}
.comment-area .writer{
    color:#11AE99;
    font-size: 12px;
}
.photo>div{
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #E4E3E3
}

.b-writer{
    font-size: 0.9rem;
    line-height: 14px;
}
.b-writer p{
    font-weight: bold;
}
.b-writer small{
    color:#A8A8A8
}
.b-title{
    font-size: 1.2rem;
    margin-bottom: 4px;
}
.b-photo{
    min-height: 100px;
}
.b-photo img{
    width:100%;
    margin-bottom: 4px;
}
.b-contents{
    white-space: normal; line-height: 1.2; height: 2.4em; text-align: left;
    word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;
    width: 100%;
}
.b-comment{
    font-size: 0.9rem;
}