
#btn-reply{
    font-size: 0.9rem;
}
.comment-area{
    bottom:50px;
    border-top:1px solid #f2f2f2;
    background: #fff !important;
}
.bottom-empty{
    display: none;
}
.comment-list{
    display: none;
}
#list>div{
    padding:8px 0px;
}
textarea:focus{
    border:none !important;
    box-shadow: none !important;
}
#text-comment{
    font-size: 0.9rem;
}
.moddt{
    padding:0px
}
.c-writer{
    font-size: 0.9rem;
    line-height: 14px;
}